<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="sonarUrl" value="" />

    <add key="sonardashboardUrl" value="" />
    <add key="mailTo" value="" />
    <add key="screenCaptureSaveLocation" value="" />
    <add key="mailSubject" value="" />
    <!--&lt;br&gt; is for line breaks in mail body -->
    <!-- Do not replace "REPORTDATE" and "SONARURL" if you want them in your mail body -->
    <add key="mailBody" value=""></add>
    <!--Date format in mail body -->
    <add key="DateFormat" value=""></add>
    <add key="smtpHost" value=""></add>
    <add key="smtpPort" value=""></add>
    <add key="mailFrom" value="" />
    <add key="password" value="" />
    <add key="attachmentName" value=""></add>

    <!--Possible value SMTP or OUTLOOK-->
    <!-- For OUTLOOK , do not provide value for "password" -->
    <add key="mailProtocol" value="" />
  </appSettings>
</configuration>